# jira Exporter Workflow
# This workflow responsible for running jira exporter.
# jira_host: The URL of your Jira, for example: https://example.atlassian.net
# atlassian_user_email: The email of the user used to query Jira
# atlassian_user_token: You can configure the user token on the Atlassian account page

name: Port Self-Service Action

on:
  workflow_dispatch:
    inputs:
      message:
        description: 'Message to log'
        required: true
        type: string
      port_context:
        description: 'Port context'
        required: true
        type: string

jobs:
  run-action:
    runs-on: ubuntu-latest
    steps:
      - name: Print the message
        run: |
          echo "Message from Port: ${{ inputs.message }}"
